<!--if the user exists-->

<h1><%= params[:username] %></h1>
</br>
<img src="<%=@user.profile_link%>" width="120" height="120" >
</br></br>

<!--Display different messages depending on whether all tweets can be found-->
<% if @user.over3200 == true%>

	Woah! Since they lost their Twitter virginity <%=distance_of_time_in_words(@user.created_at, DateTime.now, true)%> ago, <%=@user.username%> 
	has tweeted <%=@user.num_tweets%> times! It's pretty 
	hard to figure out what the first tweet was for a Twitter user who's that active...

	</br></br>

	Today, <%=@user.username%> has <%=@user.num_followers%> followers, has followed
	<%=@user.num_friends%> other users and their latest tweet was "<%=@user.latest_tweet%>" 
	<%=@user.timeoflasttweet.strftime("at %I:%M:%S %p on %A, %B %d, %Y (%Z)")%>.

<% else %>

	<%=@user.username%> lost their Twitter virginity <%=distance_of_time_in_words(@user.created_at, DateTime.now, true)%> ago and their very 
	first tweet was "<%=@user.first_tweet%>."

	</br></br>
	
	<!--if all tweets can be found, display different messages depending on number-->
	<% if @user.num_tweets > 1 %>

		Since then, <%=@user.username%> has tweeted <%=@user.num_tweets%> times and has followed
		<%=@user.num_friends%> other users. Today, <%=@user.username%> has <%=@user.num_followers%> 
		followers, and their latest tweet was "<%=@user.latest_tweet%>" <%=@user.timeoflasttweet.strftime("at %I:%M:%S %p on %A, %B %d, %Y (%Z)")%>.
	
	<% elsif @user.num_tweets == 1  %>
	
		Since then, <%=@user.username%> has tweeted <%=@user.num_tweets%> time and has followed
		<%=@user.num_friends%> other users. Today, <%=@user.username%> has <%=@user.num_followers%> 
		followers, and their latest tweet was "<%=@user.latest_tweet%>" <%=@user.timeoflasttweet.strftime("at %I:%M:%S %p on %A, %B %d, %Y (%Z)")%>.
	
	<!--for user with 0 tweets-->
	<% else %>
	
		Since then, <%=@user.username%> has tweeted <%=@user.num_tweets%> times and has followed
		<%=@user.num_friends%> other users. Today, <%=@user.username%> has <%=@user.num_followers%> 
		followers. Get tweeting!
	
	<% end %>
<% end %>
	
</br></br>

<!--display form from home page-->
<%= render "request" %>

