<h1><%= params[:username] %></h1>

</br> </br>
<%= request.inspect %>
</br></br>
<% if @user %>

<img src="<%=@user.profile_link%>" width="120" height="120" >

	<% if @user.over3200 == true%>

	</br> </br>

	Woah! Since they lost their Twitter virginity on <%=@user.created_at%>, <%=@user.username%> 
	has tweeted <%=@user.num_tweets%> times! It's pretty 
	hard to figure out what the first tweet was for a Twitter user who's that active...

	</br></br>

	Today, <%=@user.username%> has <%=@user.num_followers%> followers, has followed
	<%=@user.num_friends%> other users and their latest tweet was "<%=@user.latest_tweet%>" 
	at <%=@user.timeoflasttweet%>.

	<% else %>

	<%=@user.username%> lost their Twitter virginity on <%=@user.created_at%> and their very 
	first tweet was "<%=@user.first_tweet%>."

	</br></br>

	Since then, <%=@user.username%> has tweeted <%=@user.num_tweets%> times and has followed
	<%=@user.num_friends%> other users. Today, <%=@user.username%> has <%=@user.num_followers%> 
	followers, and their latest tweet was "<%=@user.latest_tweet%>" at <%=@user.timeoflasttweet%>.

	<% end %>

<% else %>
User not found.

<% end %>